{% extends "base.html" %}

{% load thumbnail %}

{% block meta %}
    <meta name="description" content="{{config.META_DESCRIPTION}}" />
    <meta name="keywords" content="{{config.META_KEYWORDS}}" />
{% endblock %}

{% block content %}
	<section id="products">
		<div class="container">
			<div class="col-md-12">
				<div class="main">Все категории:</div>
			</div>
			<br><br>
			{% for category in categories %}
				<div class="col-lg-4 col-md-4 col-sm-6 pp">
					<div class="product productt">
						<div class="image">
							{% thumbnail category.image "250x250" crop="center" as im %}
								<a href="{{category.get_absolute_url}}">
								    <img src="{{ im.url }}" class="img-responsive" alt="{{category.title}}">
								</a>
							{% endthumbnail %}
						</div>
						<div class="h3"><a href="{{category.get_absolute_url}}" class="category-url">{{category}}</a></div>
						<p class="description">{{ category.short_about|safe }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
	<script>
		$('.productt').equalHeights();
	</script>
{% endblock content %}
	
