{% extends "base.html" %}

{% load thumbnail staticfiles %}

{% block page_title %}
	Категория {{category.title}}
{% endblock page_title %}

{% block header_text %}
	{% if config.HEADER_TEXT != '' %}
		{{config.HEADER_TEXT}}
	{% else %}
		{{category.title}}
	{% endif %}
{% endblock header_text %}

{% block meta %}
    {% if category.meta_description != '' %}
        <meta name="description" content="{{category.meta_description}}" />
    {% else %}
        <meta name="description" content="{{category.title}}" />
    {% endif %}
    <meta name="keywords" content="{{category.meta_keywords}}" />
{% endblock %}

{% block order_desc %}Страница категории: {{category.title}}{% endblock order_desc %}

{% block content %}
	<section id="about">
		<div class="container">
			<div class="div">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="left show-product">
					<div class="image">
						{% thumbnail category.image "300x300"  crop="center" as im  %}
						    <img src="{{ im.url }}" class="img-responsive">
						{% endthumbnail %}
					</div>
					<p>Позвоните нам:</p>
					<div class="h1">{{config.PHONE}}</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="top-block show-product">
					<div class="h3">{{category.title}}</div>
					{% if category.price %}
					    <p class="price">Цена: 
    					    <span class="h2">{{category.price|floatformat:"-2"}}</span> 
					    </p>
                    {% endif %}
					{% if category.min_order and category.min_order != '' %}
						<p>Минимальный заказ: {{category.min_order}}</p>
					{% endif %}
					{% if category.min_count and category.min_count != '' %}
						<p class="description">Минимальная партия: {{category.min_count}}</p>
					{% endif %}
					{{category.full_about|safe}}
				</div>
				<div class="col-md-12 bottom-block">
					<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
						<img src="{% static "images/phone.png" %}" class="img-responsive">
					</div>
					<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
						<form action="" method="post" name="question_form">
							<input type="hidden" name="type" value="callback" />
							<input type="hidden" name="formname" value="Заказать звонок" />
							<label>Ваше имя</label>
							<label class="name top required">
								<input type="text" name="name" class="input_name form-control">
							</label>
							<label>Ваш номер телефона</label>
							<label class="phone top required">
								<input type="text" name="phone" class="input_phone form-control">
							</label>
							<input name="callback" type="button" class="button btn" value="заказать звонок" onclick="yaCounter48758201.reachGoal('ZAKAZ'); return true;">
						</form>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			</div>
		</div>
	</section>

	<div class="divider"></div>
	<section id="products">
		<div class="container">
			<div class="col-md-12">
				<div class="main">Категория "{{category.title}}":</div>
			</div>
			<br><br>
			{% for item in items %}
				<div class="col-lg-4 col-md-4 col-sm-6 pp">
					<div class="product productt">
						<div class="image">
							{% thumbnail item.image "250x250" crop="center" as im %}
							    <a href="{{item.get_absolute_url}}">
							    	<img src="{{ im.url }}" class="img-responsive" alt="{{item.title}}">
							    </a>
							{% endthumbnail %}
						</div>
						<div class="h3"><a href="{{item.get_absolute_url}}">{{item.title}}</a></div>
						<p class="description">{{ item.short_about|safe }}</p>
						<p class="price">Цена: <span class="h2">{{item.price|floatformat:"-2"}}</span> руб.</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
	<script>
		$('.productt').equalHeights();
	</script>
{% endblock %}