{% extends "base.html" %}

{% load thumbnail staticfiles %}

{% block header_text %}
	{% if config.HEADER_TEXT != '' %}
		{{config.HEADER_TEXT}}
	{% else %}
		{{category.title}}
	{% endif %}
{% endblock header_text %}

{% block content %}
	<section id="products">
		<div class="container">
			<div class="col-md-12">
				<div class="main">Категория "{{category.title}}":</div>
			</div>
			<br><br>
			{% for item in items %}
				<div class="col-lg-4 col-md-4 col-sm-6 pp">
					<div class="product productt">
						<div class="image">
							{% thumbnail item.image "250x250" crop="center" as im %}
							    <img src="{{ im.url }}" class="img-responsive">
							{% endthumbnail %}
						</div>
						<div class="h3"><a href="{% url 'item_detail' item.id %}">{{item.title}}</a></div>
						<p class="description">{{ item.short_about|safe }}</p>
						<p class="price">Цена: <span class="h2">{{item.price_from}}</span> денег</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
	<script>
		$('.productt').equalHeights();
	</script>
{% endblock %}